---
import { icons } from "@/components/Editing/icons";

interface Props {
  blogId: string | null | undefined;
}

const { blogId } = Astro.props;
---

<form method="POST" action={`${blogId}/new`}>
  <button 
    type="submit"
    class="inline-flex items-center gap-2 px-4 py-2 text-sm text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white bg-white/5 hover:bg-white/10 dark:bg-[--primary] dark:hover:bg-primary/70 rounded-lg border border-gray-200/10 dark:border-gray-700/10 transition-all duration-200 group"
  >
    <span set:html={icons.add} />
    <span>Create New Post</span>
  </button>
</form>
