---
import DashboardNav from "./DashboardNav.astro";

interface Props {
  lang: string;
  blogId: string;
  isAuthorized: boolean;
}

const { lang, blogId, isAuthorized } = Astro.props;

const currentPage = Astro.url.pathname.split("/").filter(Boolean).at(-1);
---

<!-- Versão Desktop do Menu -->
<aside class="hidden md:block w-full min-[768px]:w-64 max-w-sm ml-2">
  <div
    class="p-4 fixed top-[5.5rem] w-64 rounded-lg bg-white/80 dark:bg-gray-900/80 backdrop-blur-md shadow-sm border-b border-gray-100/50 dark:border-gray-800/50"
  >
    <DashboardNav lang={String(lang)} blogId={String(blogId)} isAuthorized={isAuthorized} currentPage={String(currentPage)} />
  </div>
</aside>
