---
import { SITE_TITLE, SITE_DESCRIPTION } from "@lib/consts";
import Layout from "@layouts/Layout.astro";
import { getLangFromUrl } from "@i18n/utils";
import { BlogGrid } from "@components/BlogGrid";

const lang = getLangFromUrl(Astro.url);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} {lang}>
	<main class="container mx-auto px-4 py-8">
		
	</main>
</Layout>
