---
import { DraftEditor } from "../../components/DraftEditor";
---

<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Editor de Rascunhos</title>
    </head>
    <body>
        <main class="container mx-auto py-8">
            <DraftEditor client:load />
        </main>
    </body>
</html>
