---
import type { BlogData } from "@/lib/types";
import ExtraTools from "@/components/Editing/ExtraTools.astro";
import Dashboard from "./Dashboard.astro";

type Props = BlogData & {
  blog: BlogData;
  editing: string;
  blogPosts: BlogData[];
  userId: string;
  lang: string;
};

const { title, description, userId, editing, blog, blogPosts, lang } =
  Astro.props;
---

<Dashboard>
  <div>
    <div class="flex gap-4 items-center justify-end mb-3">
      <ExtraTools
        blogId={blog?.id}
        postId={blog?.posts?.[0].id ?? ""}
        {lang}
        isAuthorized={Boolean(userId)}
        {blogPosts}
      />
    </div>
    <div class="mb-8">
      <slot />
    </div>
  </div>
</Dashboard>
